<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Gestion des messages</title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/contact.css" />
        <link rel="stylesheet" href="/stylesheets/jquery.toast.min.css"/>
    </head>
    <body id="body" data-tab="5">

        <h1>Gérer les messages reçues</h1>
        <div id="wrapper_content">

            <div id="arrowl" class="arrow"></div>

            <div class="content1">
                <button id="list-contact-btn">Afficher mes messages</button>
                <div id="all-contact-anchor"></div>

            </div>
            <div id="arrowr" class="arrow"></div>
        </div>

        <script src="/scripts/jquery-3.5.1.min.js"></script>
        <script src="/scripts/scroll_arrow.js"></script>
        <script src="/scripts/jquery.toast.min.js"></script>
        <script src="/scripts/toast.js"></script>
        <script src="/scripts/api_job.js"></script>
        <script src="/scripts/contact.js"></script>

    </body>
</html>
