<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Panel d'administration</title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/panel.css" />
    </head>
    <body id="body" data-tab="1">

    <h1>Espace d'administration</h1>

        <div id="wrapper_content">

            <div id="arrowl" class="arrow"></div>

            <div class="content1">
                    <div class="block">
                    <!-- Manage Actualitées -->
                    <h2 class="titre">Gérer les actualitées</h2>
                    <p><button type="button" class="btn btn-primary"><a href="/actu">Manager</a></button></p>
                    </div>

                    <div class="block">
                    <!-- Manage Partenanires -->
                    <h2 class="titre">Gérer les partenaires</h2>
                    <p><button><a href="/part">Manager</a></button></p>
                    </div>

                    <div class="block">
                    <!-- Manage View/Data -->
                    <h2 class="titre">Gérer les données</h2>
                    <p><button><a href="/viewdata">Manager</a></button></p>
                    </div>

                    <div class="block">
                    <!-- Manage ViewContact -->
                    <h2 class="titre">Gérer les messages</h2>
                    <p><button><a href="/contact">Manager</a></button></p>
                    </div>

                    <div class="block">
                    <!-- Manage Image -->
                    <h2 class="titre">Gérer les images</h2>
                    <p><button><a href="/image">Manager</a></button></p>
                    </div>
            </div>

            <div id="arrowr" class="arrow"></div>

        </div>
        <script src="/scripts/jquery-3.5.1.min.js"></script>
        <script src="/scripts/scroll_arrow.js"></script>
    </body>
</html>
