html {
    margin:0;
    padding:0;
    height:99%;
}
body {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    height:100%;
    text-align: center;
    margin: 0 0;
    min-height: 200px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    /*border:solid green 1px;*/
}
h1 {
    color:#4f69ff;
    font-weight: normal;
    margin-top: 4%;
    font-size: 36px;
}

a {
    text-decoration: none;
    font-size: 24px;
    color:#1a1a1a;
}
a:default {
    color:#1a1a1a;
}
a:hover {
    color:#4f69ff;
}
a:active {
    color: #4f69ff;
}

#wrapper_content {
    /*border:solid blue 1px;*/
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 80%;
    text-align: center;
    min-height: 200px;
}

.content1 {
   /* border:solid green 1px;*/
    height: 100%;
    width:60%;
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-self: flex-start;
    align-items: flex-start;
    justify-content: center;
    align-content: flex-start;
    margin-top: 5%;
}

/*********** Specific **********************/
.main_h1 {
    margin-bottom: -10%;
}
#list-img-btn {
    margin-left: 2%;
}
.inputbtn {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
}
#upload-img-btn { !important;
    color: #494949 !important;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    background: white;
    border: 1px solid rgba(26, 26, 26, 0.09) !important;
    transition: all 0.4s ease 0s;
    margin-top: 0; !important;
    margin-left:2%;
}
#upload-img-btn:hover { !important;
    color: #4f69ff !important;
    background: white;
    border-color: #1a1a1a !important;
    transition: all 0.4s ease 0s;
}
#final_btns {
    /*border: solid red 1px;*/
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    align-self: center;
    justify-content: center;
    width:80%
}
#update-label-btn {
    margin-right: 3%;
}
#wrapper_job_1 {
    /*border:solid red 1px;*/
}
#p-home-label {
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 18px;
}
#select-label {
}
#input-label-name {
    margin-top: 5%;
    margin-bottom: 5%;
}
#text-area {
    padding: 12px 20px;
    box-sizing: border-box;
    font-size: 16px;
}
.arrow {
    width:50px;
    height:25px;
}
#arrowr {
    margin-top: 10%;
    margin-right: 10%;
    width: 0;
    height: 0;
    border-top: 60px solid transparent;
    border-bottom: 60px solid transparent;
    border-left: 60px solid #4f69ff;
}
#arrowr:hover {
    margin-top: 10%;
    margin-right: 10%;
    width: 0;
    height: 0;
    border-top: 60px solid transparent;
    border-bottom: 60px solid transparent;
    border-left: 60px solid rgba(0, 191, 255, 0.24);
}
#arrowl {
    margin-top: 10%;
    margin-left: 10%;
    width: 0;
    height: 0;
    border-top: 60px solid transparent;
    border-bottom: 60px solid transparent;
    border-right:60px solid #4f69ff;
}
#arrowl:hover {
    margin-top: 10%;
    margin-left: 10%;
    width: 0;
    height: 0;
    border-top: 60px solid transparent;
    border-bottom: 60px solid transparent;
    border-right:60px solid rgba(0, 191, 255, 0.24);
}
button {
    color: #494949 !important;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
    background: #ffffff;
    padding: 1em;
    border: 2px solid #1a1a1a !important;
    display: inline-block;
    transition: all 0.4s ease 0s;
    margin-top: 3%;
    cursor:pointer;
}
select {
    margin-top: 5%;
    cursor:pointer;
}
button:hover {
    color: #4f69ff !important;
    background: white;
    border-color: #ffffff !important;
    transition: all 0.4s ease 0s;
}
.titre {
    margin-top: 2em;
}
textarea {
    margin-bottom: 10px;
    width:100%;
}
/***************   EXPRESS ***************/
body .viewdata-column {
    /*border:solid red 1px;*/
    width:60%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    align-content: center;
    align-self: center;
    padding: 3%;
    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    border: 1px solid white;
    -webkit-box-shadow: 0px 9px 27px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 9px 27px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 9px 27px 2px rgba(0,0,0,0.75);
}
body .viewdata-column .column-header {
    color: #4f69ff;
    padding-bottom: 5px;
    font-weight: 700;
    font-size: 1.5em;
}
input {
    padding: 3%;
}
body .add-viewdata-col input {
}
body .viewdata-column .user-display-ele {
}
body .viewdata-column .user-display-ele button {
    margin-top: 2px;
    margin-bottom: 10px;
}
body .viewdata-column .user-display-ele .edit-view {
    display: none;
}

/*********************  SELECT CSS ****************/
.select-css {
    display: block;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 700;
    color: #444;
    line-height: 1.3;
    padding: .6em 1.4em .5em .8em;
    width: 100%;
    max-width: 100%; /* useful when width is set to anything other than 100% */
    box-sizing: border-box;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    border-radius: .5em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    /* note: bg image below uses 2 urls. The first is an svg data uri for the arrow icon, and the second is the gradient.
        for the icon, if you want to change the color, be sure to use `%23` instead of `#`, since it's a url. You can also swap in a different svg icon or an external image reference

    */
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
    linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
    background-repeat: no-repeat, repeat;
    /* arrow icon position (1em from the right, 50% vertical) , then gradient position*/
    background-position: right .7em top 50%, 0 0;
    /* icon size, then gradient */
    background-size: .65em auto, 100%;
}
/* Hide arrow icon in IE browsers */
.select-css::-ms-expand {
    display: none;
}
/* Hover style */
.select-css:hover {
    border-color: #888;
}
/* Focus style */
.select-css:focus {
    border-color: #aaa;
    /* It'd be nice to use -webkit-focus-ring-color here but it doesn't work on box-shadow */
    box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #222;
    outline: none;
}
/* Set options to normal weight */
.select-css option {
    font-weight:normal;
}
/* Support for rtl text, explicit support for Arabic and Hebrew */
*[dir="rtl"] .select-css, :root:lang(ar) .select-css, :root:lang(iw) .select-css {
    background-position: left .7em top 50%, 0 0;
    padding: .6em .8em .5em 1.4em;
}
/* Disabled styles */
.select-css:disabled, .select-css[aria-disabled=true] {
    color: graytext;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22graytext%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
    linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
}
.select-css:disabled:hover, .select-css[aria-disabled=true] {
    border-color: #aaa;
}
